.container > form {
    padding-bottom: 2rem;
}

.table {
    font-size: 18px;
}

.table thead th{
    background-color: transparent;
    color: #fff;
}

.table tbody th,
.table tbody td {
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
}

.progress {
    font-size: inherit;
    height: inherit;
}

.progress-bar {
    background-color: var(--green-color);
    color:#000;
}

.table a {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    height: 27px;
    padding: 0 16px;
}

.badge {
    font-size: inherit;
    font-weight: inherit;
    height: 27px;
    padding-top: 4px;
    --bs-badge-padding-x: 16px;
}

.badge-green {
    background-color: var(--green-color);
    color: #000;
}

.badge-blue {
    background-color: var(--differential-color);
}

.logo {
    border-radius: 20px;
    width: 144px;
    height: 144px;
}

.logo-sm {
    border-radius: 20px;
    width: 70px;
    height: 70px;
}

.quadro {
    display: inline-block;
    width: 17px;
    height: 17px;
}

.investimentos {
    min-height: 80vh;
}

.text-justify {
    text-align: justify;
}