{% extends "base.html" %}
{% load static %}

{% block 'title' %}Empresa{% endblock 'title' %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'geral/css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'geral/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'empresarios/css/empresarios.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <div class="container inter fs-18">
        <div class="mt-3">
            {% include "partials/messages.html" %}
        </div>
        <div class="d-flex gap-5 mt-5 mb-5">
            <div class="w-60">
                <div class="d-flex gap-4 mb-4">
                    <img class="logo" src="{{empresa.logo.url}}" alt="logo empresa">
                    <div class="w-50">
                        <h2 class="fs-3">{{empresa.nome}}</h2>
                        <p class="fs-14">CNPJ: &nbsp;{{cnpj}}</p>
                        <label class="fs-22 fw-700">Percentual captado</label>
                        <div class="progress" role="progressbar" aria-valuenow="{{empresa.percentual_equity}}" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: {{empresa.percentual_equity}}%">{{empresa.percentual_equity|floatformat:'1g'}}</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between fs-3 fw-700">
                    <label>{{qtd_investidores}} investidor{{qtd_investidores|pluralize:"es"}}</label>
                    <label>{{total_captado|floatformat:'2g'}} Captado</label>
                </div>
                <a href="#" class="color-secondary fw-700">Ver investidores</a>
                <hr>
                <div class="d-flex justify-content-between gap-5 mt-3">
                    <div class="w-60 fw-700">
                        <label class="fs-22">Percentual de equity vendido</label>
                        <div class="progress-stacked" style="height: 27px;">
                            <div class="progress" role="progressbar" aria-valuenow="{{percentual_vendido}}" aria-valuemin="0" aria-valuemax="100" style="height: 27px;width: {{percentual_vendido}}%">
                                <div class="progress-bar">{{percentual_vendido|floatformat:'1g'}}</div>
                            </div>
                            <div class="progress" role="progressbar" aria-valuenow="{{empresa.percentual_equity}}" aria-valuemin="0" aria-valuemax="100" style="height: 27px;width: {{empresa.percentual_equity}}%">
                                <div class="progress-bar bg-blue">{{empresa.percentual_equity|floatformat:'1g'}}</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <p class="d-flex align-items-center fs-14 mb-2"><label class="quadro bg-white me-2"></label><span>Percentual total da empresa</span></p>
                            <p class="d-flex align-items-center fs-14 mb-2"><label class="quadro bg-blue me-2"></label><span>Percentual máximo a ser vendido</span></p>
                            <p class="d-flex align-items-center fs-14 mb-2"><label class="quadro bg-green me-2"></label><span>Percentual vendido</span></p>
                        </div>
                    </div>
                    <div class="w-40 d-flex flex-column">
                        <label class="fs-22">Valuation</label>
                        <label class="color-secondary">Atual: &nbsp;{{valuation_atual|floatformat:"2g"}}</label>
                        <label class="color-secondary">Esperado: &nbsp;{{empresa.valuation|floatformat:"2g"}}</label>
                    </div>
                </div>
                <label class="fs-3 fw-700 mb-2">Anexar documentos</label>
                <form action="{% url 'add_doc' empresa.id %}" method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Arquivo</label>
                        <input type="file" class="form-control" name="arquivo" required>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <div class="col-10 mb-3">
                            <label>Título</label>
                            <input type="text" class="form-control" name="titulo" placeholder="Título do documento" required>
                        </div>
                        <div class="align-content-end mb-3">
                            <input type="submit" class="btn btn-success fs-18" value="Enviar">
                        </div>
                    </div>
                </form>
                <div class="list_documentos">
                    {% for doc in documentos %}
                        <div class="row bg-color-dark py-2 mx-0 mb-2">
                            <div class="col-md-1" style="text-align: center">
                                <a href="{{doc.arquivo.url}}" target="_blank">
                                    <i class="bi bi-download"></i>
                                </a>
                            </div>
                            <div class="col-md-10">{{doc.titulo}}</div>
                            <div class="col-md-1" style="text-align: right;">
                                <a href="{% url 'excluir_doc' doc.id %}">
                                    <i class="bi bi-x-lg"></i>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <p class="bg-color-dark color-secondary p-2">Não existe documento anexado !</p>
                    {% endfor %}
                </div>
                <hr>
                <label class="fs-3 fw-700 mb-2">Métricas</label>
                <form action="{% url 'add_metrica' empresa.id %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex align-items-end justify-content-between gap-4">
                        <div>
                            <label>Título</label>
                            <input type="text" class="form-control" name="metrica" placeholder="Informe um título">
                        </div>
                        <div class="w-30">
                            <label>Valor</label>
                            <input type="text" class="form-control" name="valor" placeholder="Informe o valor">
                        </div>
                        <div>
                            <input type="submit" class="btn-cadastro bsm-px10 fs-18" value="Adicionar">
                        </div>
                    </div>
                </form>
            </div>            
            <div class="w-40 bg-color-dark investimentos">
                <div class="p-3 text-center">
                    <label class="fs-3 border-bottom">Solicitações de investimentos</label>
                    {% for pi in proposta_investimentos_enviada  %}
                        <div class="bg-color-dark card-investimento">
                            <div class="d-flex align-items-center justify-content-between gap-3 bg-color-main my-3 px-3 py-2">
                                <img src="{% static 'geral/img/foto_perfil.webp' %}" class="w-30 logo-sm" alt="Logo da empresa">
                                <div class="w-60 d-flex flex-column gap-1 text-start">
                                    <p class="fs-18 fw-700 text-capitalize m-0">{{pi.investidor}}</p>
                                    <p class="fs-12 m-0">R$ {{pi.valor|floatformat:'2g'}}</p>
                                    <p class="fs-12 m-0">{{pi.percentual}}% 
                                        &nbsp;
                                        {% if pi.valuation >= empresa.valuation  %}
                                            <i class="bi bi-chevron-up text-success fs-6"></i>
                                        {% else %}
                                            <i class="bi bi-chevron-down text-danger fs-6"></i>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="d-flex flex-column justify-content-end gap-2">
                                    <a href="{% url 'gerenciar_proposta' pi.id %}?acao=aceitar" class="btn-cadastro fw-normal px-2 py-1" style="border-radius: 4px;font-size: 14px;">Aceitar</a>
                                    <a href="{% url 'gerenciar_proposta' pi.id %}?acao=recusar" class="btn btn-danger btn-sm">Negar</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- #TODO: REMOVER ABAIXO-->
                <!--
                {% for pi in proposta_investimentos_enviada  %}
                    <div>{{pi.valuation}} | {{empresa.valuation}}</div>
                    {% if pi.valuation >= empresa.valuation  %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" style="color: #00ff00;" viewBox="0 0 16 16">
                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: #ff0000;" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                    {% endif %}
                {% endfor %}
                -->
                <!-- FINAL REMOVER -->
            </div>
        </div>
    </div>
{% endblock 'body' %}