@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');

:root{
    --main-color: #161424;
    --dark-color: #0D0C16;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
